.bitcoin-img-container {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background: url('../assets/img/bitcoinbaby2x.png') center/cover no-repeat;
  text-align: center;

  .letters {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: $just-white;
  }

}