// currency-table
.main-currency-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 340px;
  margin: 0 auto 50px auto;
  padding: 15px 5px 0 0;
  border-radius: 20px;
  @include base-font($second-font);
  box-shadow: 2px 5px 10px 4px rgba(0, 0, 0, 0.5);
}

.currency-table--title {
  margin-bottom: 5px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: $bitcoin-orange;
}

.currency-table--date {
  width: 200px;
  height: 40px;
  margin: 0 auto;
  padding: 12px;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.7rem;
  background-color: rgba($soft-orange, 0.8);
  color: $warm-black;
  border-radius: 8px;
  margin-bottom: 5px;
  strong{
    text-transform: capitalize;
    font-size: 1.3rem;
  }
}

.currency-table--container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;

  table {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-collapse: collapse;

    td {
      width: 50%;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.9rem;
      color: $grey;
    }
  
  }
  

  .table__top-left{
    border-radius: 20px 0 0 0;
  }

  .table__top-right{
    border-radius: 0 20px 0 0;
  }

  .table__bottom-left{
    border-radius: 0 0 0 20px;
  }

  .table__bottom-right{
    border-radius: 0 0 20px 0;
  }

  .table__right {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7rem;
    color: #757575;
  }

  .trending-up {
    @include trending-icons-features;
    @include trending-icons("trending-up");
  }
  .trending-down {
    @include trending-icons-features;
    @include trending-icons("trending-down");
  }

}

// fees-table
.main-fees-table {
  @extend .main-currency-table;
}

.fees-table--title{
  @extend .currency-table--title;
  color: $secondary-blue;
}

.fees-table--container{
  @extend .currency-table--container;
}

.fees-table--date {
  @extend .currency-table--date;
  background-color: rgba($secondary-blue, 0.6);
  color: $just-white;
}

