.main-exchange__container{ 
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
  &--title{ 
    width: 80%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
    h2 {
      margin-bottom: 30px;
      font-size: 2.5rem;
      font-weight: bold;
      line-height: 2.6rem;
      color: $black;
    }
    p {
      margin-bottom: 30px;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.6rem;
      color: #757575;
    }
  }
}

.main-exchange__backgroundImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background: url('../assets/img/Bitcoin.svg') center/cover no-repeat;
}
