.main-plans-container {
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
  background-color: $off-white;

  .plans--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
    h2 {
      padding-top: 50px;
      font-size: 2.4rem;
      font-weight: bold;
      line-height: 2.6rem;
      color: $warm-black;
    }
    p{
      padding-top: 30px;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.8rem;
      color: #757575;
    }
  }

}

